*.pyc
local_settings.py
connect.sh
*.log
*.db
.coverage
.idea/
apps/__pycache__/
apps/words/__pycache__/
apps/words/management/commands/__pycache__/
apps/words/migrations/__pycache__/
recollection/__pycache__/
gulp/node_modules/
gulp/.sass-cache/
